@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://gohjy.github.io/base-css/css/main.css');
@import url('./main.css');

@media print {
    .cards-grid {
        font-size: .8em !important;
    }
}

/* Specific component styles */

.cards-grid {
    display: flex;
    flex-flow: column nowrap;

    width: fit-content;
    min-width: 100%;

    position: relative;

    font-size: min(1em, 3vw);
}

.subject-group {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    align-items: center;

    border: 2px solid;
    border-bottom: none;

    break-inside: avoid;
}

.cards-grid .card {
    width: 100%;
    background-color: var(--highlight-color);
    padding: 15px;
    text-align: left;

    border-bottom: 2px solid var(--subject-color);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.card:last-child {
    border-bottom: none;
}

.card > * {
    margin: 0;
}

.card.info {
    text-align: center;
    justify-content: center;

    font-weight: bold;
}

.due-ind {
    min-width: 5em;
    max-width: 10em;
    margin-left: 1em;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.due-info-span {
    display: none;
}

.subject-group:last-child {
    border-bottom: 2px solid;
}

.card-group {
    border-left: 2px solid;
    border-bottom: none;
}

.card-group, .subject-group {
    width: 100%;
}

.group-info-box {
    width: 10em;
    /* width: min(10em, 30vw);
    min-width: min(10em, 30vw);
    max-width: min(10em, 30vw); */
    word-break: break-word;
    height: 100%;
    text-align: center;
}

.meta-ind {
    display: none;
}

.meta-ind + * {
    margin-top: 0;
}

.cards-grid .break {
    display: none;
}

.main-item-content {
    display: flex;
    align-items: center;
}