@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://gohjy.github.io/base-css/css/main.css');

/* Default styles and whatnot */

@media print {
    :root {
        --text-color: black;
        --bg-color: white;

        --subject-color: #000000;
        --info-hl-color: transparent;
        --highlight-color: transparent;
    }
}

:root {
    --info-hl-color: #FFFFFF44;
    --highlight-color: transparent;

    --subject-color: #888888;
}

h1:not(.big) { font-size: 2em; }
h2:not(.big) { font-size: 1.5em; }

a {
    color: #00ffff;
    text-decoration-line: underline;
}

noscript.fullscreen-noscript {
    background: #FF9999;
    color: black;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 9999999999;
}

/* Specific component styles */

.cards-grid .card > :first-child { margin-top: 0; }
.cards-grid .card > :last-child { margin-bottom: 0; }

.error {
    background-color: #ff000088;
}

.break {
    width: 100%;
    height: 1em;
}

.grey {
    color: grey;
}